
TIDB_HOST=gateway01.sa-east-1.prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_DATABASE=test
TIDB_USERNAME=seu_usuario_tidb
TIDB_PASSWORD='sua_senha_tidb'

QRVET_JWT_SECRET=gere-um-segredo-base64-com-32-bytes
QRVET_BOOTSTRAP_SECRET=gere-outro-segredo-aleatorio
