TIDB_HOST=gateway01.us-east-1.prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_DATABASE=seu_banco
TIDB_USERNAME=seu_usuario
TIDB_PASSWORD=sua_senha
JWT_SECRET=gere-um-segredo-base64-com-32-bytes
BOOTSTRAP_ADMIN_SECRET=seu-segredo-de-bootstrap
MAIL_HOST=smtp.exemplo.test
MAIL_PORT=587
MAIL_FROM=nao-responda@exemplo.test
MAIL_USERNAME=seu_usuario_smtp
MAIL_PASSWORD=sua_senha_smtp
MAIL_AUTH=true
MAIL_STARTTLS=true
MAIL_SSL=false